button {
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/* Reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* -------------------------------- */

/* =======Phone screen */
.container {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
}

/* ================== Header ================= */
.page-header {
  position: relative;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-dark {
  color: #2e2f42;
}

.logo-light {
  color: #f4f4fd;
}

.header-flex {
  display: flex;
  justify-content: space-between;
}

.page-navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: none;
}

.header-addres {
  display: none;
}

/* ================== /Header ================= */

/* ================== Hero ================= */

.hero {
  max-width: 1440px;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/backgraund-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
  padding-top: 72px;
  padding-bottom: 72px;
}

@media only screen and (min-resolution: 192dpi) and (max-width: 767px),
  only screen and (min-resolution: 2dppx) and (max-width: 767px),
  only screen and (min-device-pixel-rario: 2) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/backgraund-mobile@2x.jpg);
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/backgraund-tablet.jpg);
  }
}

@media only screen and (min-resolution: 192dpi) and (min-width: 768px),
  only screen and (min-resolution: 2dppx) and (min-width: 768px),
  only screen and (min-device-pixel-rario: 2) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/backgraund-tablet@2x.jpg);
  }
}

@media only screen and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/backgraund-descktop.jpg);
  }
}

@media only screen and (min-resolution: 192dpi) and (min-width: 1158px),
  only screen and (min-resolution: 2dppx) and (min-width: 1158px),
  only screen and (min-device-pixel-rario: 2) and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/backgraund-descktop@2x.jpg);
  }
}
.hero-title {
  max-width: 200px;
  margin-right: auto;
  margin-left: auto;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #ffffff;

  margin-right: auto;
  margin-left: auto;
  margin-bottom: 72px;
}

.hero-btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  min-width: 169px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-hover:hover,
.link-hover:focus {
  background-color: #404bbf;
}

/* ================== /Hero ================= */

/* ============ Feature ===================== */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-icon-container {
  display: none;
}

.feature-list:not(:last-child) {
  margin-bottom: 72px;
}

.feature {
  padding-top: 96px;
  padding-bottom: 96px;
}

.feature-list-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.feature-list-title-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ============ /Feature ===================== */

/* ============ Our-team ===================== */

.our-team {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}

.our-team-flex {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}

.our-team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;

  margin-bottom: 72px;
}

.card {
  width: 264px;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  text-align: center;
}

.our-team-title-card {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.our-team-text-card {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 8px;
}

.team-container {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}

.social-list-conteiner {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.social-list-link {
  display: flex;
  line-height: 0;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-icon {
  fill: #f4f4fd;
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf;
}

.social-icon {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ============ /Our-team ===================== */

/* ============ Portfolio ===================== */

.sec-portfolio {
  padding: 96px 0;
}

.portfolio {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list-item:not(:last-child) {
  margin-bottom: 48px;
}

.portfolio-list-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-container-text {
  border: 1px solid #e7e9fc;
  padding: 32px 16px;
  border-top: none;
}

.portfolio-title-card {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text-card {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:hover .overlay-text {
  transform: translateY(0%);
}

.overlay-wrapper {
  height: 280px;
  position: relative;
  overflow: hidden;
  line-height: 0;
}

.overlay-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  padding: 40px 32px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ============ /Portfolio ===================== */

/* ============ Footer ===================== */

.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

.footer-flax {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-list-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}

.logo-footer {
  display: block;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}

.footer-text {
  width: 288px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin-bottom: 72px;
}

.social-list-flax {
  width: 208px;
}

.social-flax {
  gap: 16px;
}

.list-footer-social-link {
  width: 40px;
  height: 40px;
}

.foter-social-link {
  fill: #f4f4fd;
}

.foter-social-link:hover,
.foter-social-link:focus {
  background-color: #31d0aa;
}

/* =========== Form Footer ============= */
.form-footer {
}

.form-footer-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  margin-top: 72px;
  text-align: center;
}

.form-footer-list-link {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.form-footer-field {
  width: 288px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.form-footer-field::placeholder {
  color: #ffffff;
}

.form-footer-btn {
  display: flex;
  width: 165px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 8px 24px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  margin-left: auto;
  margin-right: auto;
}

.footer-icon-telegram {
  margin-left: 16px;
}
/* =========== /Form Footer ============= */

/* ============ /Footer ===================== */

/* =========== Backdrop ============= */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* =========== /Backdrop ============= */

/* =========== Modal window ============= */
.modal {
  position: absolute;
  width: 288px;
  min-height: 623px;
  padding: 16px;
  padding-top: 72px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  background-color: #fcfcfc;
}

.close-modal-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  padding: 0;
  line-height: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
}

.close-modal-btn:hover,
.close-modal-btn:focus {
  background-color: #404bbf;
  border: none;
}

.close-modal-btn:hover .modal-close-button-icon,
.close-modal-btn:focus .modal-close-button-icon {
  fill: #ffffff;
}

.modal-close-button-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-description {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
  color: #2e2f42;
}

/* =========== /Modal window ============= */

/* =========== Review Form ============= */

.reviwe-form-field-label {
  display: block;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  color: #8e8f99;
}

.reviwe-form-field {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
}

.reviwe-form-field:focus {
  border-color: #4d5ae5;
  outline-color: transparent;
  outline-offset: 3px;
}

.reviwe-form-field-wrapper {
  margin-bottom: 8px;
}

.textarea-wrapper {
  margin-bottom: 16px;
}

.review-form-input-wrapper {
  position: relative;
}

.reviwe-form-field-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.reviwe-form-field:focus + .reviwe-form-field-icon {
  fill: #4d5ae5;
}

.reviwe-form-message {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;

  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  background-color: transparent;
  outline: transparent;
}

.reviwe-form-message::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.reviwe-form-message:focus {
  border-color: #4d5ae5;
  outline-color: transparent;
  outline-offset: 3px;
}

.review-form-own-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 16px;
  height: 16px;
  fill: #f4f4fd;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-checkbox-label {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: #8e8f99;
  align-items: center;
}

.accent-color {
  color: #4d5ae5;
}

.review-form-checkbox-wrapper {
  margin-bottom: 24px;
}

.review-form-checkbox:checked
  + .review-form-checkbox-label
  .review-form-own-checkbox {
  border: none;
  background-color: #404bbf;
  fill: #f4f4fd;
}
.review-form-checkbox:focus
  + .review-form-checkbox-label
  .review-form-own-checkbox {
  border: #4d5ae5;
  border-radius: 4px;
  outline: 2px solid rgba(0, 0, 255, 0.5);
}

.reviwe-form-btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: #4d5ae5;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* =========== /Review Form ============= */

/* !============= MEDIA STYLES FOR MOBILE ======================*/

@media only screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999999;
    background-color: #ffffff;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu.is-open {
    transform: translateX(0%);
  }

  .mobile-menu-container {
    position: relative;
  }

  .mobile-open-btn {
    border: none;
    background-color: transparent;
    padding: 16px 0;
    line-height: 0;
  }

  .mobile-open-btn-icon {
    fill: #2f2f37;
  }

  .menu-mobile-menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 72px;
  }

  .nav-list-link-mobile-menu {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-color {
    color: #404bbf;
  }

  .mobile-menu-close-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    background-color: transparent;
    padding: 0;
    line-height: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2e2f42;
  }

  .addres-mobile-menu {
  }

  .list-addres-mobile-menu {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 168px;
  }

  .addres-list-mobile-menu {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #4d5ae5;
  }

  .addres-color {
    color: #434455;
  }

  .social-list-mobile-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    padding: 0;
    margin-top: 48px;
    margin-bottom: 40px;
  }

  .mobile-menu-close-btn:hover,
  .mobile-menu-close-btn:focus {
    background-color: #404bbf;
    border: none;
  }
}
/* !============= /MEDIA STYLES FOR MOBILE ======================*/

/* !============= MEDIA STYLES FOR TABLET ======================*/

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  /* ?----------- HEADER STYLES FOR TABLET -------------------*/

  .mobile-menu {
    display: none;
  }

  .mobile-open-btn {
    display: none;
  }

  .menu {
    display: flex;
    gap: 40px;
  }

  .logo {
    margin-right: 120px;
  }

  .nav-list-link {
    display: block;
    position: relative;
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-color {
    color: #404bbf;
  }

  .nav-hover:hover,
  .nav-hover:focus {
    color: #404bbf;
  }

  .nav-activ::after {
    position: absolute;
    content: '';
    bottom: -1px;
    left: 0;
    display: block;
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background: #404bbf;
  }

  .header-addres {
    display: flex;
    align-items: center;
    font-style: normal;
  }

  .addres-list {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    /* line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px; */
  }

  .addres-hover:hover,
  .addres-hover:focus {
    color: #404bbf;
  }

  .header-addres {
    display: flex;
    align-items: center;
    font-style: normal;
  }

  /* ?----------- /HEADER STYLES FOR TABLET -------------------*/

  /* ?----------- Hero STYLES FOR TABLET -------------------*/
  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;

    margin-bottom: 36px;
  }
  /* ?----------- /Hero STYLES FOR TABLET -------------------*/

  /* ?----------- Feature STYLES FOR TABLET -------------------*/
  .feature-flex {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .feature-list {
    width: calc((100% - 24px) / 2);
  }

  .feature-list.feature-list-item {
    margin-bottom: 0;
  }

  .feature-list-title {
    text-align: left;
  }
  /* ?----------- /Feature STYLES FOR TABLET -------------------*/

  /* ?----------- Our Team STYLES FOR TABLET -------------------*/

  .our-team {
    padding: 96px 0;
  }

  .our-team-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    row-gap: 64px;
    column-gap: 24px;
    /* row-gap: 64; */
  }
  /* ?----------- /Our Team STYLES FOR TABLET -------------------*/

  /* ?----------- Portfolio STYLES FOR TABLET -------------------*/

  .list-portfolio {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .list-portfolio .portfolio-list-item {
    width: calc((100% - 24px) / 2);
    margin-bottom: 0;
  }
  /* ?----------- /Portfolio  STYLES FOR TABLET -------------------*/

  /* ?----------- Footer STYLES FOR TABLET -------------------*/
  .footer {
    padding: 96px 0;
  }

  .footer-container {
    margin-left: 108px;
    margin-right: 24px;
  }

  .footer-flax {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
  }

  .form-footer {
    margin-left: 108px;
  }

  .logo-footer {
    display: inline-block;
  }

  .footer-text {
    width: 264px;
  }

  .social-list-title {
    text-align: start;
  }

  .form-footer-text {
    text-align: start;
    margin-top: 0;
  }

  .form-footer-list-link {
    flex-direction: row;
  }

  .form-footer-field {
    width: 264px;
  }
  /* ?----------- /Footer STYLES FOR TABLET -------------------*/

  /* ?----------- Modal Window STYLES FOR TABLET -------------------*/
  .modal {
    width: 408px;
    min-height: 584px;
  }

  .review-form-description {
    width: 360px;
  }

  .review-form-checkbox-label {
    display: inline;
  }

  /* ?----------- /Modal Window STYLES FOR TABLET -------------------*/
}

/* !============= /MEDIA STYLES FOR TABLET ======================*/

/* !============= MEDIA STYLES FOR DESCKTOP =====================*/

@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
  /* ?----------- HEADER STYLES FOR DESCKTOP -------------------*/
  .menu {
    display: flex;
    gap: 40px;
  }

  .list-addres {
    display: flex;
    gap: 40px;
  }

  .header-addres {
    display: flex;
    align-items: center;
    font-style: normal;
  }

  .addres-list {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  /* ?----------- /HEADER STYLES FOR DESCKTOP -------------------*/

  /* ?----------- Hero STYLES FOR DESCKTOP -------------------*/
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .hero-title {
    margin-bottom: 48px;
  }

  /* ?----------- /Hero STYLES FOR DESCKTOP -------------------*/

  /* ?----------- Feature STYLES FOR DESCKTOP -------------------*/
  .feature-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
    background: #f4f4fd;
  }

  .feature-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }

  .feature-list-title-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #434455;
  }

  .feature-list {
    width: calc((100% - 3 * 24px) / 4);
  }

  .feature {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  /* ?----------- /Feature STYLES FOR DESCKTOP -------------------*/

  /* ?----------- Our Team STYLES FOR DESCKTOP -------------------*/
  .our-team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .our-team-flex {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .card {
    text-align: center;
    width: calc((100% - 3 * 24px) / 4);
  }
  /* ?----------- /Our Team STYLES FOR DESCKTOP -------------------*/

  /* ?----------- Portfolio STYLES FOR DESCKTOP -------------------*/
  .sec-portfolio {
    padding: 120px 0;
  }

  .list-portfolio {
    column-gap: 24px;
    row-gap: 48px;
  }

  .list-portfolio .portfolio-list-item {
    width: calc((100% - 2 * 24px) / 3);
    margin-bottom: 0;
  }
  /* ?----------- /Portfolio  STYLES FOR DESCKTOP -------------------*/

  /* ?----------- Footer STYLES FOR DESCKTOP -------------------*/
  .footer {
    padding: 100px 0;
  }

  .footer-flax {
    flex-wrap: nowrap;
    align-items: baseline;
  }

  .footer-container {
    margin-left: 0;
    margin-right: 120px;
  }

  .footer-text {
    margin-bottom: 0;
  }

  .form-footer {
    margin-left: 80px;
  }
  /* ?----------- /Footer STYLES FOR DESCKTOP -------------------*/
}

/* !============= /MEDIA STYLES FOR DESCKTOP ======================*/
